In [4]:
state_capitals = {"Ic_anadolu" : "Ankara", 
                  "Karadeniz" : "Trabzon", 
                  "Dogu_anadolu" : "Diyarbakir",
                  "Guney_Dogu_anadolu" : "Gaziantep",
                  "Akdeniz" : "Antalya",
                  "Marmara" : "Istanbul",
                  "Ege" : "Izmir"}
                  # how to access into the dictionary
                  # colons and commas are very important in dictionaries don't forget it!
print("Karadenizes' capital:", state_capitals['Karadeniz'])
print("Akdenizes' capital:", state_capitals['Akdeniz'])

Karadenizes' capital: Trabzon
Akdenizes' capital: Antalya

In [6]:
# how can i add a new item into the dictionary?
state_capitals['Ic_Bati_Ege'] = 'Usak'
print(state_capitals)

{'Ic_anadolu': 'Ankara', 'Karadeniz': 'Trabzon', 'Dogu_anadolu': 'Diyarbakir', 'Guney_Dogu_anadolu': 'Gaziantep', 'Akdeniz': 'Antalya', 'Marmara': 'Istanbul', 'Ege': 'Izmir', 'Ic_Bati_Ege': 'Usak'}

In [ ]:
# in dict.: KEY : VALUE this is the structure of dictionary
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [2]:
"""we can create a dictionary with dict() function, in this method we dont use quotes for variables"""
eng_dict = dict(variable = "place where a value can be stored", \
    string = "set of characters represented in quotation", gap = "blank, space", \
        assess = 'eveluate, analyse')
print(eng_dict)

{'variable': 'place where a value can be stored', 'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse'}

In [3]:
print(eng_dict['gap'])
eng_dict['exclusively'] = "only"
print(eng_dict)

blank, space
{'variable': 'place where a value can be stored', 'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse', 'exclusively': 'only'}

In [19]:
print(eng_dict.items(), '\n')
print(eng_dict.keys(), '\n')
print(eng_dict.values())

dict_items([('variable', 'place where a value can be stored'), ('string', 'set of characters represented in quotation'), ('gap', 'blank, space'), ('assess', 'eveluate, analyse'), ('exclusively', 'only')])

dict_keys(['variable', 'string', 'gap', 'assess', 'exclusively'])

dict_values(['place where a value can be stored', 'set of characters represented in quotation', 'blank, space', 'eveluate, analyse', 'only'])

In [8]:
dict_items = [('variable', 'place where a value can be stored'), ('string', 'set of characters represented in quotation'), ('gap', 'blank, space'), ('assess', 'eveluate, analyse'), ('exclusively', 'only')]
dict_items[0][1]

'place where a value can be stored'

In [13]:
eng_dict.update({'likewise' : 'also, in addition, furhermore'})
eng_dict.update({"incremental" : "additional"})
eng_dict.update({"entire" : "total, complete, whole"})
print(eng_dict.keys())
print(eng_dict)

dict_keys(['string', 'gap', 'assess', 'exclusively', 'likewise', 'incremental', 'entire'])
{'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse', 'exclusively': 'only', 'likewise': 'also, in addition, furhermore', 'incremental': 'additional', 'entire': 'total, complete, whole'}

In [20]:
print("string" in eng_dict)
print("assess" in eng_dict)
print("word" in eng_dict)  # this word is not in the eng_dict.
print('eveluate, analyse' in eng_dict.items())
print("variable" not in eng_dict)

True
True
False
False
True

In [28]:
print(eng_dict)

{'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse', 'exclusively': 'only', 'likewise': 'also, in addition, furhermore', 'incremental': 'additional', 'entire': 'total, complete, whole'}

In [30]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages['Clark'])

32

In [44]:
# nested dictionaries
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(school_records["personal_info"]['kid']['tom'],"\n"\  
, school_records["grades_info"]["kid"]["tom"])  # tom un bilgilerini sözlükten çektik.

{'class': 'intermediate', 'age': 10}
 {'math': 88, 'speech': 69}

In [46]:
print(school_records["grades_info"]["teen"]["joseph"]["coding"])  # joseph in kodlama notunu getirdi

80

In [48]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}
print("Alexs'gender:", customers["bank"][4]["sex"])

Alexs'gender: Male

In [24]:
first_dict = {1 : "one", "two" : 2, 1 : [1, 2, 3], 1.5 : ("one", "two")}
print(first_dict)

{1: [1, 2, 3], 'two': 2, 1.5: ('one', 'two')}

In [24]:
first_dictionary = dict(one = 1, two = 2)  # "one" variable olursa kabul eder.
print(first_dictionary)

{'one': 1, 'two': 2}

In [14]:
first_dictionary = dict(one = 1, two = 2)
first_dictionary

{'one': 1, 'two': 2}

In [11]:
first_dictionary = {one = 1, "two" = 2}

SyntaxError: invalid syntax (3535671026.py, line 1)

In [18]:
family = dict(name1 = "Ahmet", name2 = "Rahime", name3 = "Firdevs")
family["name4"] = "Sadullah"  # bu metot çok kullanışlıdır.
family

{'name1': 'Ahmet', 'name2': 'Rahime', 'name3': 'Firdevs', 'name4': 'Sadullah'}

In [26]:
pabuc_sayısı = {"ali" : 2, "veli" : 1}
pabuc_sayısı["ali"] += 1
pabuc_sayısı

{'ali': 3, 'veli': 1}

In [31]:
city = ["Adana", "Bursa", "Denizli"]
city[1:] = "Antep",
print(city)  # ÖNEMLİ!!!
city.extend("Antep")
print(city)

['Adana', 'Antep']
['Adana', 'Antep', 'A', 'n', 't', 'e', 'p']

In [25]:
first_dict = {1 : "one", "two" : 2, 1 : [1, 2, 3], 1.5 : ("one", "two")}

In [26]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [1]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(), '\n')

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [2]:
items = list(dict_by_dict.items())

In [4]:
x, y = items[0]
print(x, y)

animal dog

In [5]:
set(dict_by_dict.values())

{3.14, 40, 'Neptun', True, 'dog'}

In [38]:
family = dict(name1 = "Ahmet", name2 = "Rahime", name3 = "Firdevs")
family["name4"] = "Sadullah"  # bu metot çok kullanışlıdır.
family

{'name1': 'Ahmet', 'name2': 'Rahime', 'name3': 'Firdevs', 'name4': 'Sadullah'}

In [9]:
list(family.keys())

['name1', 'name2', 'name3', 'name4']

In [10]:
list(family.values())

['Ahmet', 'Rahime', 'Firdevs', 'Sadullah']

In [37]:
family["name4"]

NameError: name 'family' is not defined

In [36]:
family.update({"name5" : "Maşite"})
family

NameError: name 'family' is not defined

In [35]:
family["name1"] = "Osman"
family

NameError: name 'family' is not defined

In [41]:
family.pop("name2")
print(family)

{'name1': 'Ahmet', 'name3': 'Firdevs', 'name4': 'Sadullah'}

In [44]:
print(family)
del family["name3"]

{'name1': 'Ahmet', 'name4': 'Sadullah'}

KeyError: 'name3'

In [26]:
"a" in "clarusway"

True

In [27]:
"i" in "clarusway"

False

In [29]:
bootcamp = "c l a r u s w a y"
bootcamp.split()  # her boşluğu bölüp listeye atar.

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [30]:
"ali-veli-deli".split("-")  # - den böl liste yap.

['ali', 'veli', 'deli']

In [31]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(), '\n')

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [32]:
"dog" in dict_by_dict

False

In [33]:
"planet" in dict_by_dict

True

In [34]:
"dog" in dict_by_dict.values()  # value leri böyle arattırabiliyoruz.

True

In [35]:
"dog" not in dict_by_dict

True

In [38]:
temp_dict = {'k1':'v1', 'k2':'v2', 'k3':'v3'}
temp_dict['k4'] = temp_dict.pop('k2')  # dict. key değeri böyle silerek değiştirilir.
temp_dict

{'k1': 'v1', 'k3': 'v3', 'k4': 'v2'}

In [40]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [41]:
len(school_records)

2

In [49]:
school_records["personal_info"]["kid"]["sue"]["age"]

8

In [43]:
type(school_records)

dict

In [11]:
dic1= {1:30, 2:20}
dic2= {3:30, 4:40}
dic3= {5:50, 6:60}
Expected_result = {**dic1, **dic2, **dic3}
Expected_result
dic1.update({10:100})  # kalıcı ekliyor permanently
dic1
print({**dic1, 10:100})  # geçici ekliyor temporary
dic1

{1: 30, 2: 20, 10: 100}

{1: 30, 2: 20}

In [2]:
*{dic1, dic2, dic3}

SyntaxError: can't use starred expression here (3170088989.py, line 1)

In [3]:
egg = dict(element = "value")

In [4]:
print(egg)

{'element': 'value'}

In [40]:
customer1 = input("name:")
phone1 = int(input("phone number"))
address1 = input("address pls.")
bank_records = dict(customer = customer1)
bank_records.update({"phone" : phone1, "address" : address1})

print(bank_records)

{'customer': 'sago', 'phone': 789456, 'address': '16th road'}

In [1]:
laborer = []
information_list = []
toplam = 0
repeater = "y"
while repeater == "y":

    laborer.append(input("name:"))
    # phone = int(input("phone number"))
    # address = input("address pls.")
    information_list.append({"phone" : int(input("phone number")), "address" : input("address pls.")})
    toplam += 1
    repeater = input("for new input press 'y' otherwise press 'n' : ").lower().strip()
    

Result = dict(zip(laborer, information_list))
print(Result)

{'ali': {'phone': 789, 'address': '16th road'}}

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [6]:
liste = ["eat", "tea", "tan", "ate", "nat", "bat"]
list2 = []
list3 = []
list4 = []
for i in liste:
  for a in liste:
    if set(i).issubset(set(a)):
      list2.append(a)
  list3.append(tuple(list2))
  print(list3)
  list2 = []  
new  = tuple(list3)
new2 = set(new)      
new3 = list(new2)
for count in new3:
    list4.append(list(count))

print(list4)

[('eat', 'tea', 'ate')]
[('eat', 'tea', 'ate'), ('eat', 'tea', 'ate')]
[('eat', 'tea', 'ate'), ('eat', 'tea', 'ate'), ('tan', 'nat')]
[('eat', 'tea', 'ate'), ('eat', 'tea', 'ate'), ('tan', 'nat'), ('eat', 'tea', 'ate')]
[('eat', 'tea', 'ate'), ('eat', 'tea', 'ate'), ('tan', 'nat'), ('eat', 'tea', 'ate'), ('tan', 'nat')]
[('eat', 'tea', 'ate'), ('eat', 'tea', 'ate'), ('tan', 'nat'), ('eat', 'tea', 'ate'), ('tan', 'nat'), ('bat',)]
[['tan', 'nat'], ['bat'], ['eat', 'tea', 'ate']]

In [9]:
liste = ["eat", "tea", "tan", "ate", "nat", "bat"]
list2 = []
list3 = []
list4 = []
for i in liste:
  for a in liste:
    if set(i).issubset(set(a)):
      list2.append(a)
  list3.append(tuple(list2))
  list2 = []  
new  = tuple(list3)
new2 = set(new)      
new3 = list(new2)
print(new3)
for count in new3:
    list4.append(list(count))
    print(list4)

[('tan', 'nat'), ('bat',), ('eat', 'tea', 'ate')]
[['tan', 'nat']]
[['tan', 'nat'], ['bat']]
[['tan', 'nat'], ['bat'], ['eat', 'tea', 'ate']]

In [1]:
dict(a = "11", a = "25", b = 65)  # keywordler unique dir.

SyntaxError: keyword argument repeated: a (1902060204.py, line 1)

In [1]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3